<%= javascript_include_tag "welcome", "data-turbolinks-track" => true %>

<div id="intro"> 
  <p class="fact" id="1">Since 2002, the annual allocation for student loans<br> has grown from <span class="f-num">$11 billion</span> to <span class="f-num">$69 billion</span></p>

  <p class="fact" id="2">The number of universities receiving student loans<br> has increased from <span class="f-num">1,080</span> to <span class="f-num">5,100</span></p>
  <p class="fact" id="3">Have more questions?</p>

 <p class="fact" id="4"><%=link_to(image_tag("arrow.png"),{:controller=>"totals", :action=>"index"}) %></p>
</div> 

