  <div id="chart1" class="graph">
    <h2>Loan & Grant Allocation From 2002 - 2013 in Billions (<span class="lkey">Loans</span>,<span class="gkey">Grants</span>)</h2> 
    <canvas id="intro-chart" width="800" height="300">
    </canvas> 
  </div> 

  <div id="chart2" class="graph">
    <h2>Number of Universities Receiving Federal Aid</h2> 
    <canvas id="uni-chart" width="800" height="300">
    </canvas> 
  </div> 

  <div id="all-lvgdonut" class="graph">
    <h2>Percentage of Loans vs Grants By Year</h2> 
      <ul id="donuts"> 
        <li id="2002" class="donut">
          <h3>2002</h3>
          <canvas id="donut-chart" width="200" height="200">
          </canvas>
        </li> 
      </ul>  
    </li>
  </div> 


<!-- <div class="chart2">
  <h2>Number of Schools Funded by Year</h2> 
  <canvas id="intro-chart2" width="700" height="700">
  </canvas> 
</div> 

<div class="chart3">
  <h2>Loans versus Grants by Year</h2> 
  <div class="2003">
      <h3>2003</h3> 
      <canvas id="othree" width="700" height="700">
      </canvas>
  </div> 

    <div class="2003">
      <h3>2003</h3> 
      <canvas id="othree" width="700" height="700">
      </canvas>

    <div class="2003">
      <h3>2003</h3> 
      <canvas id="othree" width="700" height="700">
      </canvas>
  </div>  
  </div>  
</div>  -->

<%= javascript_include_tag "graphs", "data-turbolinks-track" => true %>