<!DOCTYPE html>
<html>
<head>
  <title>LoanProject</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Gilda+Display' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Pathway+Gothic+One' rel='stylesheet' type='text/css'>


</head>

<body>
    <div id='menu'>
      <nav>
        <ul>
          <li class="nav"> <span id='home-button'>| Overview | </span>  </li>
          <li class="nav"><span id='funding-button'>Loans vs Grants by Year |</span>  </li>
          <li class="nav"><span id='university-button'> Funded Universities |</span>  </li>
          <li class="nav"><span id='state-button'> By State |</span>  </li>
          <li class="nav"><span id='about-button'> About |</span>  </li>
        </ul>
      </nav>   
    </div>

    <br style="clear:both;">

<%= yield %>

</body>
</html>
